*.class
gerenciador/build
gerenciador-final/build
gerenciador/.settings/*
# Package Files #
*.jar
*.war
*.ear
gerenciador/.classpath
*.classpath
*.classpath
gerenciador-final/.settings/org.eclipse.jdt.core.prefs
*.prefs
gerenciador-final/.settings/org.eclipse.wst.common.project.facet.core.xml